h2 {
  text-align: center;
}
.country {
  max-width: 450px;
}
.bold-text {
  font-weight: 700;
}
.country-container:not(:first-child) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
